h1{
    color: white;
}

.header{
    color: white;
    background-color:black;
    display: flex;
    justify-content: space-evenly;
    padding: 1px;
    font-family: sans-serif;
    font-weight: 400;

}

.menu{
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-family: sans-serif;
    font-weight: 400;
}

.head{
    background-image: url("Back.jpg");
    display: flex;
    justify-content: center;
}

.info{
    color: white;
    background-image: url("Back.jpg");
    display: flex;
    justify-content: center;
}

.grid img{
    border-radius: 20px;
    border: solid black;
    width: 200px;
    height: 200px;
    font-family: fantasy;
}

.grid{
    display: flex;
    justify-content: space-between;
}
.grid2 img{
    border-radius: 20px;
    border: solid black;
    width: 200px;
    height: 200px;
}

.grid2{
    display: flex;
    justify-content: space-between;
}

.origami{
    background-color: whitesmoke;
}

.origami {
    position: relative;
}

.origami h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.origami:hover img{
    opacity: 0.33;
}

a:link{
    color: darkblue;
}

a:visited{
    color: red;
}